<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd0b3ffe-b719-414a-ba30-aaff184e4e83/resourcegroups/LYCWebsite20180221081503ResourceGroup/providers/Microsoft.Web/sites/LeaveYourCouch</ResourceId>
    <ResourceGroup>LYCWebsite20180221081503ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://35.222.58.115</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://35.222.58.115</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>bruno_chappe</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:leaveyourcouchdbserver.database.windows.net,1433;Initial Catalog=LeaveYourCouch_db;User ID=century.spine@leaveyourcouchdbserver;Password=Papaestaveugl3+" Name="Data Source=tcp:leaveyourcouchdbserver.database.windows.net,1433;Initial Catalog=LeaveYourCouch_db;User Id=century.spine@leaveyourcouchdbserver;Password=Papaestaveugl3+" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LYC.Website.Models.ApplicationDbContext, LYC.Website" MigrationConfiguration="LYC.Website.Migrations.Configuration, LYC.Website" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:leaveyourcouchdbserver.database.windows.net,1433;Initial Catalog=LeaveYourCouch_db;User Id=century.spine@leaveyourcouchdbserver;Password=Papaestaveugl3+</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>