@using LeaveYourCouch.Mvc.Models
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline mt-2 mt-md-0" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav mr-auto">
            <li id="loginusernameplace">
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">@Resources.Resources.nav_logoff</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav mr-auto">
        @*<li>@Html.ActionLink(Resources.Resources.nav_register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>*@
        <li>@Html.ActionLink(Resources.Resources.nav_login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}


<script type="text/javascript">

</script>